<html>
  <head>
    <title>RucketServer | Control</title>
    <meta http-equiv="refresh" content="300">
    <style>
      input[type=number]{
        width: 40px;
      } 
    </style>
  </head>
  <body>
    <a href="/status">STATUS</a> | <a href="/fans">FANS</a> | <a href="/lights">LIGHTS</a> | <a href="/logs">LOGS</a>
    <br>
    <% Rucket.modules.each do |name, amodule| %>
      <% if amodule.is_a? DHT11Reader %>
        <table border="1">
          <caption>DHT11Reader</caption>
          <tr>
            <td><b>Name</b></td>
            <td><%= name %></td>
          </tr>
          <tr>
            <td><b>Disabled?</b></td>
            <td><%= amodule.disabled? %></td>
          </tr>
          <tr>
            <td><b>Pin</b></td>
            <td><%= amodule.pin %></td>
          </tr>
          <tr>
            <td colspan="2"><center><%= "<a href=\"/modules/#{name}/toggle\">Toggle</a>" %></center></td>
          </tr>
        </table>
      <% elsif amodule.is_a? Timer %>
        <table border="1">
          <caption>Timer</caption>
          <tr>
            <td><b>Name</b></td>
            <td><%= name %></td>
          </tr>
          <tr>
            <td><b>Disabled?</b></td>
            <td><%= amodule.disabled? %></td>
          </tr>
          <%= "<form action=\"/modules/#{name}\" method=\"post\">" %>
            <tr>
              <td><b>Start</b></td>
              <td><%= "<input type=\"number\" name=\"start_hour\" min=\"0\" max=\"24\" value=\"#{amodule.start_time.split(?:).first}\">:<input type=\"number\" name=\"start_minute\" min=\"0\" max=\"60\" value=\"#{amodule.start_time.split(?:).last}\"> "%></td>
            </tr>
            <tr>
              <td><b>End</b></td>
              <td><%= "<input type=\"number\" name=\"end_hour\" min=\"0\" max=\"48\" value=\"#{amodule.end_time.split(?:).first}\">:<input type=\"number\" name=\"end_minute\" min=\"0\" max=\"60\" value=\"#{amodule.end_time.split(?:).last}\">" %></td>
            </tr>
            <tr>
              <td colspan="2"><center><%= "<a href=\"/modules/#{name}/turn_on\">Turn On</a>" %></center></td>
            </tr>
            <tr>
              <td colspan="2"><center><%= "<a href=\"/modules/#{name}/turn_off\">Turn Off</a>" %></center></td>
            </tr>
            <tr>
              <td colspan="2"><center><input type="submit"></center></td>
            </tr>
          </form>
          <tr>
            <td colspan="2"><center><%= "<a href=\"/modules/#{name}/toggle\">Toggle</a>" %></center></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </body>
</html>